<!-- componente en construcción para futura implementación -->
<div class="container-fluid" id="contact">
    <div class="row">
        <div class="col-sm-12 col-md-6 contactIzq">
            <div class="text-left-block">
                <div class="left-center-text">
                    <div class="left-center-part">
                        <h2 class="contact-section text-center text-primary pt-5 pb-2">Contacto</h2>
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <form id="contact-form" name="contact-form" method="post" data-name="contact-form">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6 pb-2">
                                            <div class="form-group">
                                                <input type="text" id="name" class="form form-control"
                                                    placeholder="Nombre*" name="name" data-name="Name" required>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6 col-lg-6 pb-2">
                                            <div class="form-group">
                                                <input type="email" id="email" class="form form-control"
                                                    placeholder="Diección de E-mail*" name="email"
                                                    data-name="Direccion Email" required>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-6 col-lg-6 pb-2">
                                            <div class="form-group">
                                                <input type="text" id="subjet" class="form form-control"
                                                    placeholder="Asunto" name="subjet" data-name="Subjet">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6 pb-2">
                                            <div class="form-group">
                                                <input type="tel" id="telefono" class="form form-control"
                                                    placeholder="Nº de teléfono*" name="telefono"
                                                    data-name="Numero Telefono" required>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-12pb-2">
                                            <div class="form-group">
                                                <textarea id="text-aria" class="form textarea form-control"
                                                    placeholder="Introduce tu mensaje" name="mensaje"
                                                    data-name="Text Area" required></textarea>
                                            </div>
                                            <br>
                                            <span class="sub-text text-danger">* Campos requeridos</span>

                                        </div>
                                    </div>
                                    <button type="button" id="valid-form" class="btn btn-primary mt-4"
                                        data-toggle="modal" data-target="#contactForm">
                                        Enviar mensaje
                                    </button>

                                    <!-- Modal borrar skil-->
                                    <div class="modal fade" id="contactForm" tabindex="-1" role="dialog"
                                        aria-labelledby="contactFormEmail" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="contactFormEmail">
                                                        Esa funcion todavía no esta disponible
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Cerrar">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="text-dark">
                                                        Por el momento el envio de mensajes esta deshabilitado. <br>
                                                        <br>
                                                        Disculpe las molestias.

                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">
                                                        Cerrar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 contactDer">
            <img src="../../../assets/images/contactoPic.png" alt="contactoPic" class="contactoPic">
        </div>
    </div>
</div>