
<div class="container-fluid" id="about">
    <div class="row">
        <div class="col-sm-12 col-md-6 columnaIzq">
            
        </div>
        <div class="col-sm-12 col-md-6 columnaDer">
            <h2 class="text-center text-primary pt-4 pb-4"><b>Acerca de mi...</b></h2>
            <!--a class="text-info"><i class="bi bi-pencil-square"></i></a-->
            <p class="parrafo" data-aos="zoom-in" data-aos-duration="5000"><!--{{ profile.textAboutMe }}.--></p>
        </div>
    </div>
</div>