.columnaIzq {
    margin-top: 2em;
    min-height: 500px; 
    background-image: url('../../../assets/images/about.jpg');
    transition: width 2s, height 10s;
    background-position: 0px 0px, 100% 50%;
    background-size: cover;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
 }
 .columnaIzq:hover {
 width: 40%;
 
 }
 .columnaDer {
    margin-top: 2em;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.1rem;
    color: #b1b4bd;
    line-height: 1.5;
    text-align: justify;
 
 }
 
 @media (max-width: 767px){
    .columnaDer {
       margin-top: 0;
    }
    
 }