<footer class="footer ">
    <img src="../../../assets/images/footer.png" alt="fondofooter" class="fondofooter">  
      <div class="container-fluid pb-0 mb-0 justify-content-center text-light">
        <div class="row colorfondo justify-content-center piedepagina">
              <div class="col-11">
                  <div class="row colorfondo">
                      <div class="colorfondo col-xl-8 col-md-4 col-sm-4 col-12"><h4 class="text-info m-0 fs-6">
                        *Todas las imagenes y fotografias publicadas en esta web son de mi autoría</h4>                    
                      </div>
                      <div class="colorfondo col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text ">
                          <b>MENU</b>
                        </h6>
                          <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#about">Acerca de</a></li>
                            <li><a href="#xperience">Experiencia</a></li>
                            <li><a href="#education">Educación</a></li>
                            <li><a href="#Skils">Skils</a></li>
                            <li><a href="#projects">Trabajos</a></li>
                            <li><a href="#contact">Contacto</a></li>
                          </ul>
                      </div>
                      <div class="colorfondo col-xl-2 col-md-4 col-sm-4 col-12"><h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>DIRECCIÓN</b></h6><p class="mb-1">INDEPENDENCIA 541</p><p>CÓRDOBA</p> </div>
                  </div>
  
                  <div class="row colorfondo copyright">
                    <hr>
                      <div class="colorfondo col-xl-8 col-md-4 col-sm-4 col-auto  my-md-0 mt-5 order-sm-1 order-3 align-self-end"><p class="social text-muted mb-0 pb-0 bold-text"> <span  class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights">Germán Rico @ 2022 All Rights Reserved.<span>&#174;</span></small></div>
                      <div class="colorfondo col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end "><h6 class="mt-55 mt-2 text-muted bold-text"><b>E-MAIL</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> germanrico@gmail.com</small></div>
                      <div class="colorfondo col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3"><h6 class="text-muted bold-text"><b>TELEGRAM</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> <a href="https://t.me/Germanico_83" target="_blank" rel="noopener noreferrer">Germanico_83</a></small></div>
                  </div>
              </div>
          </div>
       </div>
  
  </footer>