<footer class="footer ">
  <img src="../../../assets/images/footer.png" alt="fondofooter" class="fondofooter">
  <div class="container-fluid pb-0 mb-0 justify-content-center text-light">
    <div class="row colorfondo justify-content-center piedepagina">
      <div class="col-11">
        <div class="row colorfondo">
          <div class="colorfondo col-xl-8 col-md-4 col-sm-4 col-12">
            <h4 class="text-info m-0 fs-6 p-4">
              *Todas las imagenes y fotografias publicadas en esta web son de mi autoría</h4>
          </div>
          <div class="colorfondo col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 bold-text ">
              <b>MENU</b>
            </h6>
            <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#about">Acerca de</a></li>
              <li><a href="#xperience">Experiencia</a></li>
              <li><a href="#education">Educación</a></li>
              <li><a href="#Skils">Skils</a></li>
              <li><a href="#projects">Trabajos</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div>
          <div class="colorfondo col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>DIRECCIÓN</b></h6>
            <p class="mb-1">INDEPENDENCIA 541</p>
            <p>CÓRDOBA</p>
          </div>
        </div>

        <div class="row colorfondo copyright">
          <hr>
          <div class="final-footer container">
            <div class="footer-redes col align-self-center col-xl-8 col-md-4 col-sm-4 col-12 mt-1 mb-4">
              <a class="redes-link text-muted px-2" href="https://www.linkedin.com/in/arqgermánrico" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a class="redes-link text-muted px-2" href="https://twitter.com/ArqGermanRico" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-square-twitter"></i>
              </a>
              <a class="redes-link text-muted px-2" href="https://instagram.com/germanico_83" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a class="redes-link text-muted px-2" href="https://github.com/Pipuls" target="_blank"
                rel="noopener noreferrer">
                <i class="fa-brands fa-square-github"></i>
              </a>
              <br>
              <br>
              <small class="rights">Germán Rico @ 2022 All Rights Reserved.<span>&#174;</span></small>
            </div>

            <div class="footer-mail col align-self-center col-xl-2 col-md-4 col-sm-4 col-12 mt-1 mb-4">
              <h6 class=" text-muted bold-text"><b>E-MAIL</b></h6><small>
                <span><i class="fa fa-envelope" aria-hidden="true"></i>
                </span> fsj.germanrico@gmail.com</small>
            </div>
            <div class="footer-telegram col align-self-center col-xl-2 col-md-4 col-sm-4 col-12 mt-1 mb-4">
              <h6 class="text-muted bold-text">
                <b>TELEGRAM</b>
              </h6><small><span><i class="fa-brands fa-telegram" aria-hidden="true"></i></span> <a
                  href="https://t.me/Germanico_83" target="_blank" rel="noopener noreferrer"> Germanico_83</a></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>