.navbarcontent {
    z-index: 10;
}

div {
    background-color: #0a121d;

}

.navbar {
    border-bottom: 1px solid #fff;
}

.navbar-brand {
    margin-left: 1rem;
}

.navbar-toggler {
    margin-right: 1.5rem;
}

.navbar-nav {
    margin-right: 2rem;
}

.nav-item {
    align-items: center;
}

h3 {
    color: #fff;
    text-align: left;
    margin-left: 3rem;
}

i:hover {

    text-shadow: 0 0 10px rgb(81, 185, 245);
}

a:hover {
    text-shadow: 0 0 10px rgb(81, 185, 245);
}

.container {
    margin-top: 25%
}

img {
    max-width: 100%;
}

@media (max-width: 767px) {
    h5 {
        font-size: 3vw;
    }

    img {
        max-width: 25vw;
        height: 100%
    }
}