<!-- Barra de navegacion -->
<div class="navBarFija" id="nav">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Contenedor de la barra -->
        <div class="container-fluid navbarcontent">
            <!-- Brand logo AP -->
            <a class="navbar-brand"
                href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
                target="_blank" rel="noopener noreferrer">
                <img src="../../../assets/icons/APLogo.png" alt="Argentina Programa" width="125 em" height="90 em"/>
                <span class="text-primary"><h5>#YOPROGRAMO</h5></span>
            </a>
            <!-- Toggler para pantallas chicas -->
            <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarMenu"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-bars-filter align-self-center"></i></span>
                <span></span>
                <span></span>
            </button>
            <!-- Menu de navegacion -->
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav me-5 mb-2 mb-lg-0 ms-auto">
                    <!-- Menu de componentes de la web -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                          href="#"
                          id="navbarDropdown"
                          role="button"
                          data-toggle="dropdown"
                          aria-expanded="false">
                          Inicio
                        </a>
                <!-- Componentes del portfolio -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#about">Acerca de</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#xperience">Experiencia Laboral</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#education">Estudios</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#skils">Skils</a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                            <a class="dropdown-item" href="#projects">Proyectos</a>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="#contact">Contacto</a>
                        </li>
                    </ul>
    <!-- lista redes sociales -->
                        <li class="nav-item col-6 col-md-auto me-1">
                            <a class="nav-link" href="https://www.linkedin.com/in/arqgermánrico" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-linkedin" alt="LinkedIn"></i>
                                <small class="d-lg-none ms-2">LinkedIn</small>
                            </a>
                        </li>
                        <li class="nav-item col-6 col-md-auto me-1">
                            <a class="nav-link" href="https://instagram.com/germanico_83" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-instagram"></i>
                                <small class="d-lg-none ms-2">Instagram</small>
                            </a>
                        </li>
                        <li class="nav-item col-6 col-md-auto me-1">
                            <a class="nav-link" href="https://twitter.com/ArqGermanRico" target="_blank"
                                rel="noopener noreferrer">
                                <i class="fa-brands fa-twitter" alt="Twitter"></i>
                                <small class="d-lg-none ms-2">Twitter</small>
                            </a>
                        <li class="nav-item col-6 col-md-auto me-5">
                            <a class="nav-link" href="https://github.com/Pipuls" target="_blank" rel="noopener noreferrer">
                                <i class="fa-brands fa-github" alt="github"></i>
                                <small class="d-lg-none ms-2">GitHub</small>
                            </a>
                        <li>
                        <li><hr class="dropdown-divider" /></li>
                     <!-- boton Editar 
                    <li class="nav-item d-flex flex-row-reverse pe-0 me-0">
                        <button class="btn btn-outline-primary d-inline-block pe-3 ps-3 pt-lg-1 pb-lg-1 p-lg-2" (click)="logIn()" *ngIf="!isLogged">
                            <a class="nav-link">
                                <i class="bi bi-box-arrow-in-right"> </i> Iniciar Sesión
                            </a>
                        </button>
                        <button class="btn btn-outline-primary d-inline-block pe-3 ps-3 pt-lg-1 pb-lg-1 p-lg-2" (click)="onLogOut()" *ngIf="isLogged">
                            <a class="nav-link">
                                <i class="bi bi-x-square"> </i> Cerrar Sesión
                            </a>
                        </button>
                    </li-->
                </ul>
            </div>
        </div>
    </nav>
    </div>
    