<section class="py-2" id="projects">
    <h2 class="text-center text-primary pt-4 pb-4">Proyectos de Programación</h2>
    <div class="container-fluid" id="proyectosfsj">
        <div class="card-group pjfsj d-flex justify-content-center mx-5">
            <!--Tarjetas-->
            <div class="row row-cols-1 row-cols-md-3 g-4 align-center fondofsj">

                <div class="col tarjetafsj">
                    <div class="card h-100" data-aos="flip-left">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="dark">
                            <img src="../../../assets/projects/myportfolio.webp" class="card-img-top" alt="Img Card">
                            <div class="mask" style="background-color: rgba(139, 195, 247, 0.267);"></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Portfolio personal</h5>
                            <p class="card-text text-dark">Web portfolio realizado para Argentina Programa.</p>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <small class="col-8 text-muted">
                                    Córdoba - 2022
                                </small>
                                <a href="#" class="col-2 ms-auto btn btn-primary text-wrap">
                                    <i class="fa-solid fa-right-to-bracket"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col tarjetafsj">
                    <div class="card h-100" data-aos="flip-left">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="dark">
                            <img src="../../../assets/projects/empmanager.webp" class="card-img-top"
                                alt="Img Card">
                            <div class="mask" style="background-color: rgba(139, 195, 247, 0.267);"></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Lista de empleados</h5>
                            <p class="card-text text-dark">Realizacion de una aplicación de listado de empleados a
                                traves de tarjetas utilizando Html, CSS y JS + Angular Bootstrap y MySql.</p>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <small class="col-8 text-muted">
                                    Córdoba - 2022
                                </small>
                                <a href="https://empleadomanagerfend.firebaseapp.com/"
                                    class="col-2 ms-auto btn btn-primary text-wrap" target="_blank"
                                    rel="noopener noreferrer"><i class="fa-solid fa-right-to-bracket"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col tarjetafsj">
                    <div class="card h-100" data-aos="flip-left">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="dark">
                            <img src="../../../assets/projects/lupearte.webp" class="card-img-top" alt="Img Card">
                            <div class="mask" style="background-color: rgba(139, 195, 247, 0.267);"></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Lupe Rico Arte</h5>
                            <p class="card-text text-dark">Realizacion de un portfolio web para un emprendimiento
                                de Diseño Arte y Decoración utilizando Figma para el maqueteado de Componentes.</p>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <small class="col-8 text-muted">
                                    Córdoba - 2022
                                </small>
                                <a href="#" class="col-2 ms-auto btn btn-primary text-wrap" target="_blank"
                                    rel="noopener noreferrer"><i class="fa-solid fa-right-to-bracket"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section class="py-2 h-250">
    <!--Proyectos Arquitectura-->
    <h2 class="text-center text-primary pt-4 pb-4">Proyectos de Arquitectura</h2>
    <div class="container-fluid" id="proyectosarq">
        <div class="card-group pjfsj d-flex justify-content-center mx-5">
            <!--Tarjetas-->
            <div class="row row-cols-1 row-cols-md-3 g-4 align-center fondoarq">
                <div class="col tarjetafsj">
                    <div class="card h-100" data-aos="flip-left">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="../../../assets/projects/DL/5.webp" class="img-fluid" alt="Ampliacion DL" />
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Ampliacion DL</h5>
                            <p class="card-text text-dark">Vivienda unifamiliar realizada con construccion tradicional
                            </p>
                            <div class="card-footer text-info mt-auto">
                                <div class="row align-items-center">
                                    <small class="col-8 text-muted">
                                        Salsipuedes - Córdoba - 2022
                                    </small>
                                    <button type="button" class="col-2 ms-auto btn btn-primary text-wrap"
                                        data-toggle="modal" data-target="#ampliacionDL">
                                        <i class="fa-solid fa-right-to-bracket"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col tarjetafsj">
                    <div class="card h-100" data-aos="flip-left">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="../../../assets/projects/ME/4.webp" class="img-fluid" alt="Casa ME" />
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Casa ME</h5>
                            <p class="card-text text-dark">Vivienda unifamiliar realizada en construccion seca, Steel
                                Frame.
                            </p>
                            <div class="card-footer text-info mt-auto">
                                <div class="row align-items-center">
                                    <small class="col-8 text-muted">
                                        Salsipuedes - Córdoba - 2021
                                    </small>
                                    <button type="button" class="col-2 ms-auto btn btn-primary text-wrap"
                                        data-toggle="modal" data-target="#casaME">
                                        <i class="fa-solid fa-right-to-bracket"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col tarjetafsj">
                    <div class="card h-100" data-aos="flip-left">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="../../../assets/projects/MM/4.webp" class="img-fluid" alt="Casa MM" />
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Casa MM</h5>
                            <p class="card-text text-dark">Vivienda unifamiliar realizada con construccion tradicional
                            </p>
                            <div class="card-footer text-info mt-auto">
                                <div class="row align-items-center">
                                    <small class="col-8 text-muted">
                                        Córdoba - 2019
                                    </small>
                                    <button type="button" class="col-2 ms-auto btn btn-primary text-wrap"
                                        data-toggle="modal" data-target="#casaMM">
                                        <i class="fa-solid fa-right-to-bracket"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal Ampliación DL-->
                <div class="modal fade" id="ampliacionDL" tabindex="-1" aria-labelledby="ampliacionDLModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-2" id="ampliacionDLModalLabel">Ampliación DL</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Carousel wrapper -->
                                <div id="carouselAmpliacionDL" class="carousel slide carousel-fade"
                                    data-ride="carousel">
                                    <!-- Indicators -->
                                    <div class="carousel-indicators">
                                        <button type="button" data-target="#carouselAmpliacionDL" data-slide-to="0"
                                            class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-target="#carouselAmpliacionDL" data-slide-to="1"
                                            aria-label="Slide 2"></button>
                                        <button type="button" data-target="#carouselAmpliacionDL" data-slide-to="2"
                                            aria-label="Slide 3"></button>
                                    </div>

                                    <!-- Inner -->
                                    <div class="carousel-inner rounded-5 shadow-4-strong">
                                        <!-- Single item -->
                                        <div class="carousel-item active">
                                            <img src="../../../assets/projects/DL/5.webp" class="d-block w-100"
                                                alt="Foto 1 ADL" />
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="text-primary">Vista general</h5>
                                            </div>
                                        </div>

                                        <!-- Single item -->
                                        <div class="carousel-item">
                                            <img src="../../../assets/projects/DL/2.webp" class="d-block w-100"
                                                alt="Foto 2 ADL" />
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="text-primary">Losa planta baja</h5>
                                            </div>
                                        </div>

                                        <!-- Single item -->
                                        <div class="carousel-item">
                                            <img src="../../../assets/projects/DL/3.webp" class="d-block w-100"
                                                alt="Foto 2 ADL" />
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="text-primary">Levantamiento de muros planta alta</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Inner -->

                                    <!-- Controls -->
                                    <button class="carousel-control-prev" type="button"
                                        data-target="#carouselAmpliacionDL" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                        data-target="#carouselAmpliacionDL" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <!-- Carousel wrapper -->
                            </div>
                            <div class="modal-footer">
                                <h5 class="text-primary fs-4">Ampliacion de cocina y living</h5>
                                <p class="text-dark">El proyecto se basa en la ampliacion de la cocina anexando un nuevo living comedor en la primer planta, dejando un espacio semicubierto en planta baja para uso de garage o quincho.</p>
                                <br>
                                <p class="text-info"><em>Superficie total: 55 m2</em></p>
                                <br>
                                <p class="text-info"><em>Metodo constructivo: tradicional</em></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Casa ME-->
                <div class="modal fade" id="casaME" tabindex="-1" aria-labelledby="casaMeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-2" id="casaMeModalLabel">Casa ME</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Carousel wrapper -->
                                <div id="carouselCasaME" class="carousel slide carousel-fade" data-ride="carousel">
                                    <!-- Indicators -->
                                    <div class="carousel-indicators">
                                        <button type="button" data-target="#carouselCasaME" data-slide-to="0"
                                            class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-target="#carouselCasaME" data-slide-to="1"
                                            aria-label="Slide 2"></button>
                                        <button type="button" data-target="#carouselCasaME" data-slide-to="2"
                                            aria-label="Slide 3"></button>
                                    </div>

                                    <!-- Inner -->
                                    <div class="carousel-inner rounded-5 shadow-4-strong">
                                        <!-- Single item -->
                                        <div class="carousel-item active">
                                            <img src="../../../assets/projects/ME/4.webp" class="d-block w-100"
                                                alt="Foto 1 CME" />
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="text-primary">Vista General</h5>
                                            </div>
                                        </div>

                                        <!-- Single item -->
                                        <div class="carousel-item">
                                            <img src="../../../assets/projects/ME/1.webp" class="d-block w-100"
                                                alt="Foto 2 CME" />
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="text-primary">Proceso de armado del cerramiento exterior</h5>
                                            </div>
                                        </div>

                                        <!-- Single item -->
                                        <div class="carousel-item">
                                            <img src="../../../assets/projects/ME/3.webp" class="d-block w-100"
                                                alt="Foto 3 CME" />
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="text-primary">Cerramiento completo</h5>
                                              </div>
                                        </div>
                                    </div>
                                    <!-- Inner -->

                                    <!-- Controls -->
                                    <button class="carousel-control-prev" type="button" data-target="#carouselCasaME"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-target="#carouselCasaME"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <!-- Carousel wrapper -->
                            </div>
                            <div class="modal-footer">
                                <h5 class="text-primary fs-4">Proyecto y construcción</h5>
                                <p class="text-dark">Diseño de vivienda unifamiliar completo, el desafio era llevar el programa de la vivienda anterior el cual les era funcional al nuevo terreno, que a diferencia del anterior presenta una diferencia de nivel topografico de mas de 7 mts.</p>
                                <br>
                                <p class="text-info"><em>Superficie total: 120 m2</em></p>
                                <br>
                                <p class="text-info"><em>Metodo constructivo: Steel Frame</em></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Casa MM-->
                <div class="modal fade" id="casaMM" tabindex="-1" aria-labelledby="casaMMModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title fs-2" id="casaMMModalLabel">Casa MM</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Carousel wrapper -->
                                <div id="carouselCasaMM" class="carousel slide carousel-fade" data-ride="carousel">
                                    <!-- Indicators -->
                                    <div class="carousel-indicators">
                                        <button type="button" data-target="#carouselCasaMM" data-slide-to="0"
                                            class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button type="button" data-target="#carouselCasaMM" data-slide-to="1"
                                            aria-label="Slide 2"></button>
                                        <button type="button" data-target="#carouselCasaMM" data-slide-to="2"
                                            aria-label="Slide 3"></button>
                                    </div>

                                    <!-- Inner -->
                                    <div class="carousel-inner rounded-5 shadow-4-strong">
                                        <!-- Single item -->
                                        <div class="carousel-item active">
                                            <img src="../../../assets/projects/MM/1.webp" class="d-block w-100"
                                                alt="Foto 1 CMM" />
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="text-primary">Vista general</h5>
                                            </div>
                                        </div>

                                        <!-- Single item -->
                                        <div class="carousel-item">
                                            <img src="../../../assets/projects/MM/2.webp" class="d-block w-100"
                                                alt="Foto 2 CMM" />
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="text-primary">Levantamiento de muros</h5>                                                
                                            </div>
                                        </div>

                                        <!-- Single item -->
                                        <div class="carousel-item">
                                            <img src="../../../assets/projects/MM/3.webp" class="d-block w-100"
                                                alt="Foto 3 CMM" />
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5 class="text-primary">Detalle de viga de techo</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Inner -->

                                    <!-- Controls -->
                                    <button class="carousel-control-prev" type="button" data-target="#carouselCasaMM"
                                        data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-target="#carouselCasaMM"
                                        data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <!-- Carousel wrapper -->
                            </div>
                            <div class="modal-footer">
                                <h5 class="text-primary fs-4">Proyecto y construcción</h5>
                                <p class="text-dark">Diseño de vivienda unifamiliar completo, diseño de estilo racional, con algunos elementos tradicionales, se oculto el techo inclinado en fachada para mantener la estetica y aprovechar la funcionalidad del mismo.</p>
                                <br>
                                <p class="text-info"><em>Superficie total: 98 m2</em></p>
                                <br>
                                <p class="text-info"><em>Metodo constructivo: Tradicional</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>