.eduIzq {
    margin-top: 0;
    min-height: 500px; 
    background-image: url('../../../assets/images/education.webp');
    background-position: 0px 0px, 100% 50%;
    background-size: cover;
    background-attachment: scroll, scroll;
    object-fit: cover;
    -o-object-fit: cover;
 }
.eduDer {
    margin-top: 0;
    padding: 1rem 2rem 1rem 2rem;
    text-align: justify;
  }
 .card{
    background-color: transparent;
 }
 a {
   color: rgb(230, 235, 245);
   font-weight: 500;
}
